<a href="https://colab.research.google.com/github/Suchada2000/test2/blob/main/Untitled14.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [127]:
df = pd.read_excel('/content/drive/MyDrive/test/AB08-Study-Leave-Record_V00-ให้ นศ ช่วย cleansing.xlsx')

In [136]:
df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,ดูข้อมูลจาก ประเภทการลาศึกษา ชีต LoVs,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ,Unnamed: 12,Unnamed: 13,Unnamed: 14
0,id,sequence,statuslist-อ้อม,ประเภทการลา,details,studylevel-ลิเดีย,Reason,sday,eday,place-เตย,location,nan,country,scholarship,reference
1,100008,2,ฝึกอบรม ณ ต่างประเทศ,ไปฝึกอบรม ณ ต่างประเทศ,ภาษาญี่ปุ่น,NaN,NaN,1995-09-25,1996-07-09,Japan Foundation Japanese-Language Institute,Japan Foundation Japanese-Language Institute,nan,ญี่ปุ่น,The Japan Foundation Japanese Language Insititute,มข.3023/38 ลว.8ก.ย.38
2,100008,3,ลาศึกษาในประเทศ,ลาศึกษาในประเทศ,วิชาญี่ปุ่นศึกษา,ปริญญาโท,ปริญญาโท,1999-07-01,2001-06-30,มหาวิทยาลัยธรรมศาสตร์,มหาวิทยาลัยธรรมศาสตร์,nan,ไทย,ส่วนตัว,มข.1889/42 ลว.2 ก.ค.42
3,100008,4,ลาศึกษา ณ ต่างประเทศ,ลาศึกษา ณ ต่างประเทศ,ภาษาญี่ปุ่น,ปริญญาโท,NaN,2001-03-31,2002-03-30,Keio University,Keio University,nan,ญี่ปุ่น,Keio University Graduate Scholarship,มข.1479/44 ลว.20 มิ.ย.44
4,100009,5,ลาศึกษา ณ ต่างประเทศ,ลาศึกษา ณ ต่างประเทศ,Operative Dentistry,ปริญญาโท-เอก,NaN,1997-04-25,2002-10-24,Indiana University,Indiana University,nan,สหรัฐอเมริกา,รัฐบาล (ทบวงมหาวิทยาลัย),มข.1640/40 ลว.16 พ.ค.40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
230063,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,NaN,nan,NaN,NaN,NaN
230064,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan,NaN,NaN,NaN
230065,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan,NaN,NaN,NaN
230066,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan,NaN,NaN,NaN
230067,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan,NaN,NaN,NaN

In [133]:
selected_column = df['ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ']

In [126]:
selected_column

0         nan
1         nan
2         nan
3         nan
4         nan
         ...
230063    nan
230064    nan
230065    nan
230066    nan
230067    nan
Name: ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ, Length: 230068, dtype: object

In [134]:
unique_values = selected_column.unique()

In [135]:
unique_values

array(['nan'], dtype=object)

In [98]:
import numpy as np

In [99]:
arr = np.array(['nan'], dtype=object)

In [100]:
arr = np.where(arr == 'nan', np.nan, arr)

In [101]:
print(arr)

[nan]

In [88]:
arr

array([nan], dtype=object)

In [131]:
df['ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ'] = df['ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ'].astype(str) #เปลี่ยนค่าให้เป็นstr

In [ ]:
 'เกาหลีใต้ใต้ใต้ และ ไต้หวัน', ' Czeech Republic',
       'Dubrovnik สาธารณรัฐโครอเชีย', 'สิงค์โปร', 'เมือง Athens  Greece',
       'ออสเตเรีย', 'เมืองโฮจีมินทร์ เวียดนาม', '-',
       'งบนอกเหนืองบวิชาการ', '้ไทย', 'ราชอาณาจักรสกอตแลนด์', 'Malaysia',
       'ออสเตรีย(ไทย)', 'Mumbai India', 'ไทย์', 'online', 'สราชอาณาจักร',
       'ไทย/สหรัฐสหรัฐสหรัฐอเมริกา', 'สวิตเซอร์แลนด์,นอร์เวย์', 'ไ่ทย',
       'ิไทย', 'สาธารณรัฐเปรู', 'ฝรั่งเศสและสเปน',
       'สหราชอาณาจักรบริเตนใหญ่และไอร์แลนด์', 'ราชอาณาจักรสกอตแลด์',
       'ฟินแลนด์ และ สาธารณรัฐเอสโตเนีย', 'ปารากวัย',
       'ฝรั่งเศส และ สหราชอาณาจักร', 'สาธารณรัฐเฮลเลนิก (กรีซ)',
       'สมาพันธรัฐสวิสและเยอรมนี', 'Thailand', 'ออสเตรเลีย และนิวซีแลนด์',
       'เอสโตเนีย', 'สำนักงานอธิการบดี', 'จังหวัดระยอง',
       'ราชอาณาจักรเบลเยียม และ เยอรมนี', 'สหราชอาณาจักรและเยอรมนี',
       'ญี่ปุน', 'บอสเนียและเฮอร์เซโกวีนา และ ฮังการี',
       'สาธารณรัฐสังคมนิยมประชาธิปไตยศรีลังกา กรุงเทพมหานค',
       'เนการาบรูไนดารุสซาลาม', 'จีนและลาว', 'เกาหลีใต้ใต้และญี่ปุ่น',
       'สวีเดน สาธารณรัฐเอสโตเนียและสาธารณรัฐฟิ', 'ติมอร์-เลสเต - เลสเต',
       'สวีเดน เอสโตเนียและฟินแลนด์', 'end', '                     '],
      dtype=object)

In [ ]:
 'เบลเยียม,เยอรมนี', 'เมียนมา', 'เซอร์เบีย', 'มอลตา,บัลแกเรีย',
       'มาเลเซีย,สิงคโปร์', 'เยอรมนีและออสเตรีย', 'ลัทเวีย',
       'บรัสเซลล์ และ เบลเยียม', 'ลัตเวีย', 'สหรราชอาณาจักร',
       'ไอซ์แลนด์เหนือ', 'คอสตาริก้า', 'คอสตาริกา', 'ัไทย', 'Kazakhstan',
       'คาซัคสถาน', 'สาธารณรัฐเฮเลนิก',
       'สาธารณรัฐฝรั่งเศส และ สหพันธ์สาธารณรัฐเยอรมัน', 'บังกลาเทศ',
       'สาธารณรัฐประชาธิปไจยประชาชนลาว',
       'Czech Republic และสาธารณรัฐเยอรมนี', 'ไท่ย',
       'เยอรมนีและเนเธอร์แลนด์', 'เนเธอร์แลนด์ และ ฝรั่งเศส',
       'นอร์เวย์ และ สวิตเซอร์แลนด์', 'สาธารณรัฐชิลี', 'แม็กซิโก',
       'เนเธอร์แลนด์ และ เบลเยียม', 'เนเธอร์แลนด์ และเบลเยียม', 'ยูกันดา',
       'สก็อตแลนด์', 'ทรานส์นีสเตรียย',
       'ณ   โรงแรมรามาการ์เดนส์   กรุงเทพฯ',
       'โรงแรมรามาการ์เดนส์   กรุงเทพฯ', 'สาธารณรัฐสหภาพเมียนมา',
       'อาเจนติน่า', 'กานา', 'สาธารณรัฐเช็ก และ เนเธอร์แลนด์',
       'อาเซอร์ไบจาน', 'สิงคโปร์ และ อินโดนีเซีย', 'กรีซและเนเธอร์แลนด์',
       'สาธารณรัฐจีน (ไต้หวัน)', 'เยอรมนี ออสเตรีย และสวิตเซอร์แลนด์',
       'อุซเบกิสถาน', 'สวีเดนและเอสโตเนียย',
       'ญี่ปุ่น และ เกาหลีใต้ใต้ใต้', 'กัมพูชา และ ฟิลิปปินส์',
       'เดนมาร์ก และ สหราชอาณาจักร', 'อินโดนีเซีย และติมอร์เลสเต', 'ไทน',
       'ราชอาณาจักรฮัชไมต์จอร์แดน', 'เยอรมนี และ ฝรั่งเศส',
       'เยอรมนีและฝรั่งเศส', 'เกาหลีใต้ใต้ใต้,ไต้หวัน',
       'สาธารณัฐเกาหลีใต้ใต้ (เกาหลีใต้ใต้ใต้)',

In [ ]:
 'สาธารณรัฐเยอรมันนี', 'สหราชอาณาจักร-บริเตนใหญ่และไอร์แลนด์เหนือ',
       'สมาพันธรัฐสวิซ', 'ลาว และ เวียดนาม', 'มาเก๊า', 'ญี่ปุ่น',
       'เบลเยียม และเนเธอร์แลนด์', 'เบลเยียม อังกฤษ เนเธอแลนด์',
       'ญี่ปุ่นและสหรัฐสหรัฐสหรัฐอเมริกา', 'แคนนาดา',
       'สิงคโปร์ มาเลเซีย และฟิลิปปินส์',
       'สิงคโปร์ ฟิลิปปินส์ และมาเลเซีย', 'ปาปัวนิวกินี',
       'สิงคโปร์ และมาเลเซีย', 'ไทบ', 'สหราชอาณาจักรและสาธารณรัฐฝรั่งเศส',
       'สิงคโปร์ พม่า มาเลเซีย กัมพูชา', 'จีน เกาหลีใต้ใต้ใต้',
       'สหราชอาณาจักร.', 'เวียดนาม.', 'เนเธอแลนด์', 'เบลเยียม เยอรมันนี',
       'เบลเยียม นอร์เวย์', 'เเบลเยียม เยอรมันนี นอร์เวย์',
       'สมพันธรัฐสวิส', 'ปารีส', 'สวิส', 'สหพันธ์สาธารณรับเยอรมนี',
       'รัฐเซีย', 'Chaina', 'ราชอาณาจักรกัมพุชา', 'ประชาธิปไตยประชาชนลาว',
       'จึน', 'ไต้หวัน และ จีน', 'เปรู', 'โปรแลนด์',
       'สหรัฐสหรัฐสหรัฐอเมริกา และ แคนาดา', 'australia', 'UK',

In [ ]:
  'สาธารณรัฐสิงคโปร์และสหพันธรัฐมาเลเซีย', 'สามาพันธรัสสวิส',
       'สาธารณรัฐประธิปไตยประชาชนลาว', 'สาธารณรัฐประชาธิปไตรประชาชนลาว',
       'สาธารัฐประชาชนจีน', 'malasia',
       'สมาชิกเชงเกน (อิตาลี สวิตเซอร์แลนด์ ฝรั่งเศส และเน',
       'สหพันธรัฐมาเลเซีย', 'ชลบุรี', 'สมาพันธรัฐรัสเซีย',
       'สาธารณรัฐประชุาชนจีน', 'สหพันธรัฐมาเลเซียและสาธารณรัฐสิงคโปร์',
       'สาธารณรัฐโครเอเชีย', 'ราชอาราจักสเปน', 'ไซปรัส', 'ไตัหวัน',
       'ไทยเข้าร่วมโครงการ',
       'สาธารณรัฐสังคมนิยมเวียดนาม สาธารณรัฐสิงคโปร์ สหพัน',
       'สาธารัฐแอฟริกาใต้', 'เมียรม่า', 'เวียดนามและกัมพชา', '์ ไทย',
       'Thai', 'ุ', 'ณ สาธารณรัฐลัตเวีย และสาธารณรัฐลิทัวเนีย',
       'สาธารณรัฐลัตเวีย และ สาธารณรัฐลิทัวเนีย', 'จอร์เจีย',
       'สาธารณรัฐเมียนมา', 'สเปน และ อิตาลี', 'สาธารณรัฐจีน(ไต้หวัน)',
       'เวลส์', 'The Northern of Cyprus', 'มาเลเซีย และ สิงคโปร์',
       'อินโดนีเซีย และ เวียดนาม', 'สาธารณรัฐสังคมนิยมเวียดนาน',
       'สาธารณรัฐสโลวาเนีย', 'ออสเตรเลีย และ มาเลเซีย',

In [ ]:
'คาซัคสถาน และสาธารณรัฐตุรกี', 'จีน และฮ่องกง',
       'สาธารัฐประชาธิปไตยประชาชนลาว', 'ออสสเตรเลีย', 'ราชอาณาจักร',
       'อาณาจักรเนเธอร์แลนด์และสหรัฐสหรัฐสหรัฐอเมริกา', 'Belgium',
       'สาธารณรัฐรัสเซีย', 'เวียดนาม และลาว', 'บูรไน', 'ฺเบลเยียม',
       'เยอรมัน และ สวิตเซอร์แลนด์', 'สาธารณรัฐประชาธิปไตยประชาชนจีน',
       'จีน/ญี่ปุ่น/พม่า/ฟิลิปปินส์', 'สาธารณรัฐแห่งสหภาพเมียนมา',
       'สโลวีเนีย', 'สก๊อตแลนด์', 'ฟิจิ', 'อิหร่าน',
       'สาะารณรับเกาหลีใต้ใต้', 'ฝรังเศส', 'บัลแกเรีย', 'ไท', 'wmp',
       'สหพันธรัฐเยอรมนี', 'สหรัฐสหรัฐอเมริกา', 'สาธารณรัฐสโลวัก',
       'ไทย,มาเลเซีย', 'ไทยและมาเลเซีย', 'สาธารณรัฐมอริเชียส',
       'สาธารรัฐอินโดนีเซีย', 'กัมพูชา และลาว', 'สาธารณรัฐอินโดเนีย',
       'สหภาพเมียนมา', 'สาธารณรัฐแห่งสภาพพม่า', 'สาธารณรัฐเคนย่า',
       'ณ หลวงพระบาง ลาว', 'สาธารณรัฐอินโดนนีเซีย',
       'สาธาธรณรัฐประชาชนจีน', 'china', 'จีนและเยอรมันนี',
       'นิวซีแลนด์และออสเตรเลีย', 'สปป ลาว', 'รพ.ศิริราช   กรุงเทพฯ',
       'ิสิงคโปร์', 'เขตบริหารพิเศษฮ่องกง',

In [ ]:
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace('','')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace('','')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace('','')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace('','')
'ราชอาณาจักรเบลเยียม เนเธอร์แลนด์ ลักเซมเบิร์ก', 'ไอร์แลนด์[# 5]',
       'สวิตเซอร์แลนด์  อิตาลี', 'รัฐอิสราเอล',
       'สาธารณรัฐประชาธิปไตยประชาชนแอลจีเรีย', 'สหราชอาณาจักร(อังกฤษ)',
       'สหราชอาณาจักรบ', 'ราชอาณาจักรเบลเยียม',
       'สมาพันธรัฐสวิสเซอร์ และ เยอรมนี', 'Taiwan', 'สาธารณรัฐบัลแกเรีย',
       'กรุงเทพ', 'ป่ารีส', 'รัฐสุลต่านโอมาน', 'ต่าง',
       'เครือรัฐออสเตรเลีย/นิวซีแลนด์', 'นอร์เวย์/สวีเดน',
       'ราชอาณาจักรสวาซิแลนด์', 'เยอรมัน เนเธอร์แลนด์ เบลเยียม',
       'ติมอร์-เลสเต-เลสเต', 'สาธารณรัฐพม่า', 'สาธารณรัฐฮังการี',
       'ไ้ต้หวัน', 'South Africa', 'สาธารณรัฐไอซ์แลนด์',
       'สาธารณรัฐฝรั่งเศส/สหราชอาณาจักร', 'สาธารณรัฐเฮลเลนิก',
       'ราชอาณาจักรนอร์เวย์และสวีเดน', 'สาธารณรัฐอาหรับอียิปต์ และตุรกี',
       'ฮ่องกงจีน', 'สาธาณรัฐตุรกี', 'รัฐกาตาร์',
       'สาธารณรัฐสิงคโปร์/มาเลเซีย',
       'สาธารณรัฐสังคมนิยมเวียดนาม และสาธารณรัฐประชาธิปไตย',
       'เขตปกครองพิเศษฮ่องกง', 'สหพันธ์สาธารณรัฐประชาธิปไตยเอธิโอเปีย',
       'อบรม', 'เยอรมนี /ฝรั่งเศส/สหพันธรัฐสวิส',
       'สาธารณรัฐประชาชนบังกลาเทศ', 'สาธารณรัฐสิงคโปร์/มาเลเวีย', 'Macau',
       'สาธารณรัฐอินโดนีเซีย/เวียดนาม', 'สถานที่  ณ  สิงคโปร์',
       'ลาว สาธารณรัฐสังคมนิยมเ', 'ลาว/พม่า', 'สหรััฐสหรัฐสหรัฐอเมริกา',
       'Czech  Republic', 'เยอรมันและเนเธอร์แลนด์',

In [130]:
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace('สหพันธ์สาธารณรัฐประชาธิปไตยเนปาล','เนปาล')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace('ลาว และสาธารณรัฐสังคมนิ','ลาวและเวียดนาม')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace('ณ เมืองบาหลี อินโดนีเซีย','อินโดนีเซีย')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace('Greece','กรีซ')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace('สหพันธ์สาธารณรัฐบราซิล','บลาซิล')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace('เมือง Vancouver  แคนาดา','แคนาดา')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace('ลาว เวียดนาม จีนตอนใต้ และกัมพูชา','ลาว เวียดนาม จีนและกัมพูชา')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace('สาธาณรัฐประชาชนลาว','ลาว')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace('ดูไบร์','ดูไบ')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace('Indonesia','อินโดนีเซีย')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace('สหภาพเมีนม่าร์','พม่า')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace('ราชอาณาจักรไย','ไทย')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace('เยอรมณี','เยอรมนี')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace('ราชอาณาจักรไทย','ไทย')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace('ราชอาณาจักรกัมพูชาและสาธารณรัฐสังคมนิยมเวียดนาม','กัมพูชาและเวียดนาม')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace('สาธารณรัฐประชาธิปไตยประชาชนเกาหลีใต้ใต้','เกาหลีใต้')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace('สาธารณรัฐสังคมนิยมประชาธิปไตยศรีลังกา','ศรีลังกา')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace('ราชอาณาจักรไทร','ไทย')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace('สหราชอาณาจักรอังกฤษ','สหราชอาณาจักร')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace('สาธารณรัฐฝรั่งเศส สาธา รณรัฐอิตาลี สมาพันธรัฐสวิส','ฝรั่งเศส อิตาลี สวิตเซอร์แลนด์')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace('สาธาณรัฐประชาธิปไตยประชาชนลาว','ลาว')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace('สาธารณรัฐประชาชนธิปไตยประชาชนลาว','ลาว')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace('สาธารณรับประชาธิปไตยประชาชนลาว','ลาว')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace('เกาหลีใต้ใต้เหนือ','เกาหลีใต้')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace('นิวส์ซีแลนด์','นิวซีแลนด์')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace('บรูไนดารุสซาลาม','บรูไน')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace('สาธารณรัฐสโลวัก และเดนมาร์ก','สาธารณรัฐสโลวักและเดนมาร์ก')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace('เกาหลีใต้ใต้ใต้ (เกาหลีใต้ใต้ใต้)','เกาหลีใต้ใต้')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace('สาธารณรัฐเวียดนาม','เวียดนาม')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace('สาธารณรัญอินเดีย','อินเดีย')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace('vietnam','เวียดนาม')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace('สาธารณรัฐอินเดีย','อินเดีย')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace('สาธารรัณสังคมนิยมเวียดนาม','เวียดนาม')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace('สาธารรัณสังคมนิยมเวียดนาม','เวียดนาม')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace('South เกาหลีใต้ใต้ใต้','เกาหลีใต้')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace('สาธารณรัฐแห่งพม่า','พม่า')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace('กรมอนามัย  กระทรวงสาธารณสุข  เวลา 1.-16. น.','ไทย')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace('สาธารณัฐเกาหลีใต้ใต้ใต้','เกาหลีใต้')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace('สาธารณรัฐฟิลิปปินส์','ฟิลิปปินส์')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace('สาธารณรัฐมาเลเซีย','มาเลเซีย')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace('เมือง sapporo','ญี่ปุ่น')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace('สาธารณรัฐจิบูตี และสาธารณรัฐฝรั่งเศส','สาธารณรัฐจิบูตีและฝรั่งเศส')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace('สวีเดนNational Veterinary Institute (SV','สวีเดน')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace('หอศิลป์สมเด็จพระนางเจ้าสิริกิติ์ พระบรมราชินีนาถ ถ','ไทย')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace('USA','สหรัฐอเมริกา')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace('สาธารณรัฐอินโดนีเซียและสาธารณรัฐสิงคโปร์','อินโดนีเซียและสิงคโปร์')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace('สาธารณรัฐฝรั่งเศส', 'ิอิตาลี','ฝรั่งเศส,อิตาลี')

In [132]:
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace('ห้องนพดล ทองโสภิต','ไทย')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace('สาธารณรัญอินเดีย','อินเดีย')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace('Germany','เยอรมนี')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace('อังกฤษ/ฝรั่งเศล','อังกฤษ/ฝรั่งเศส')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace('Singapore','สิงคโปร์')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace('Spain','สเปน')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace('Micronesia','ไมโครนีเชีย')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace('Haiti','เฮติ')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace('ใต้หวัน','ไต้หวัน')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace('ห้องจำลอง   มุ่งการดี ชั้น 4  อาคารสมเด็จพระ','ไทย')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace('ไืทย','ไทย')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace('อิตา','อิตาลี')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace('ฝรั่งเศษ','ฝรั่งเศส')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace('เกาหลีใต้ใต้และจีน','เกาหลีใต้และจีน')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace('ฮ่องกงและเกาหลีใต้ใต้ใต้','ฮ่องกงและเกาหลีใต้')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace('สิบสองปันนาจีน','จีน')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace('สาธารณรัฐไต้หวัน','ไต้หวัน')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace('ตุรกรี','ตุรกี')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace('ไ','ไทย')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace('สปน','สเปน')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace('CHINA','จีน')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace('สวิตเซอร์แลนด์ และ อิตาลี','สวิตเซอร์แลนด์และอิตาลี')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace('ไิทย','ไทย')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace('Malta','มอลตา')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace('สิงคโปร์บริษัท เฮ็ลธ อินโนเวณัน จำกัด','สิงคโปร์')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace('เวียนามและจีน','เวียดนามและจีน')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace('เกาหลีใต้ใต้และฮ่องกง','เกาหลีใต้และฮ่องกง')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace('พม่า  จีน','พม่า จีน')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace('Lithuania','ลิทัวเนีย')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace('ลิธัวเนีย','ลิทัวเนีย')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace('ราชอาณาจักรกัมพูชา','กัมพูชา')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace('สาธารณัฐประชาธิปไตยประชาชนลาว','ลาว')

In [29]:
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace('อ่องกง','ฮ่องกง')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace('สาธารณรัญอินเดีย','อินเดีย')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace('สมาพันธรัฐสวิส','สวิตเซอร์แลนด์')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace('เครือรัฐออสเตรเลีย','ออสเตรเลีย')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace('สาธารณรัฐอินโดนีเซีย','อินโดนีเซีย')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace('Saudi Arabia','ซาอุดีอาระเบีย')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace('Austria','ออสเตรีย')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace('สาธารณรัฐสิงคโปร์','สิงคโปร์')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace('Burkina Faso','บูร์กินาฟาโซ')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace('สหพันธรัฐสวิส','สวิตเซอร์แลนด์')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace('สาธารณรัฐสังคมนิยมเวียดนาม','เวียดนาม')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace('สาธารณรัฐจีน','จีน')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace('ลาว ลาว และ เวียดนาม','ลาวและเวียดนาม')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace('สปป.ลาว','ลาว')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace('ใน','ไทย')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace('จีน (ใต้หวัน)','ไต้หวัน')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace('สวิตเซอร์แลนด์ และฝรั่งเศส','สวิตเซอร์แลนด์และฝรั่งเศส')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace('กรุงเทพฯ','ไทย')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace('Australia','ออสเตรเลีย')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace('England','สหราชอาณาจักร')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace('มาดากัสการ์โมซัมบิก และแอฟริกาใต้','มาดากัสการ์โมซัมบิกและแอฟริกาใต้')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace('ราชอาณาจักรเนเธอแลนด์','ราชอาณาจักรเนเธอร์แลนด์')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace('Japan','ญี่ปุ่น')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace('ราชอานาจักรกัมพูชา','กัมพูชา')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace('Hong Kong','ฮ่องกง')

In [ ]:
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace('เยอรมันนี','เยอรมนี')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace('Czech Republic','สาธารณรัฐเช็ก')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace('มัลดีฟล์','มัลดีฟส์')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace('บังคลาเทศ','บังกลาเทศ')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace('ควีนส์แลนด์','ออสเตรเลีย')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace('สาธารณรัฐอาหรับอียิปต์','อียิปต์')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace('สาธารณรัฐโปรตุเกส','โปรตุเกส')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace('สาธารณรัฐอาหรับเอมิเรสต์','สหรัฐอาหรับเอมิเรสส์')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace('Beigium','เบลเยียม')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace('สหพันธ์สาธารณรัฐเยอมณี','เยอรมณี')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace('นอกคณะ','ไทย')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace('ในคณะ','ไทย')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace('เกาหลีใต้ใต้ใต้ใต้','เกาหลีใต้')

In [ ]:
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace('สหรัฐสหรัฐสหรัฐอเมริกา','สหรัฐอเมริกา')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace('เกาหลีใต้ใต้ใต้','เกาหลีใต้ใต้')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace('เกาหลีใต้ใต้','เกาหลีใต้')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace('อเมริกกา','สหรัฐอเมริกา')

In [ ]:
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace('มหาวิทยาลัยมหิดล','ไทย')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace('ไทย / สหรัฐอเมริกา','ไทย/สหรัฐอเมริกา')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace('ไทยข','ไทย')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace('สหราชอาณาจักรบริเตนใหญ่ และไอร์แลนด์เหนือ','สหราชอาณาจักรบริเตนใหญ่และไอร์แลนด์')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace('สหราชอาณาจักรสกอตแลด์','ราชอาณาจักรสกอตแลด์')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace('โรงสีข้าวพระราชทาน น่าน','ไทย')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace('ห้องประชุมสำนักงาน คณะเทคนิคการแพทย์','ไทย')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace('คณะเทคนิคการแพทย์','ไทย')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace('สหราชอาณาจักร และ เยอรมนี','สหราชอาณาจักรและเยอรมนี')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace('ราชอาณาจักรเบลเยียมและเยอรมนี','')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace('เกาหลีใต้ใต้ (เกาหลีใต้ใต้) และ ญี่ปุ่น','เกาหลีใต้และญี่ปุ่น')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace('Sunstun makeup-studio','ไทย')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace('สวีเดน เอสโตเนีย และฟินแลนด์','สวีเดน เอสโตเนียและฟินแลนด์')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace('เยอรมนี และเนเธอร์แลนด์','เยอรมนีและเนเธอร์แลนด์')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace('ณ  คณะสาธารณสุขศาสตร์  มหาวิทยาลัยขอนแก่น','ไทย')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace('ห้องประชุม Crystal Ballroom โรงแรมตวันนา กรุงเทพ','ไทย')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace('ทรานส์นิสเตรี','ทรานส์นีสเตรีย')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace('ไืน','ไทย')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace('ไท0','ไทย')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace('กทม','ไทย')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace('เยอรมันนี และ ฝรั่งเศส','เยอรมนีและฝรั่งเศส')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace('ห้องประชุม ๘๐๙ ราชวิทยาลัยสูติฯ ชั้น ๘ อาคารเฉลิมพ','ไทย')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace('ณ โรงแรม The Athenee Hotel กรุงเทพฯ','ไทย')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace('สวีเดน และ เอสโตรเนี','สวีเดนและเอสโตเนีย')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace('สาธารณประชาชนจีน','จีน')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace('ประชุม','')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace('อเมริกา','สหรัฐอเมริกา')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace('โรงแรมเจริญธานีปริ๊นเซ็ส  จังหวัดขอนแก่น','ไทย')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace('ขอนแก่น  ไทย','ไทย')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace('รพ. ศรีนครินทร์  ม. ขอนแก่น','ไทย')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace('ไทย, มาเลเซีย','ไทย,มาเลเซีย')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace('ไทย และ มาเลเซีย','ไทยและมาเลเซีย')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace('สาธารณัฐอิตาลี','อิตาลี')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace('ราชกาณาจักรกัมพูชา','กัมพูชา')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace('เยรอมนี','เยอรมนี')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace('Mauritius','สาธารณรัฐมอริเชียส')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace(' ตุรกี','ตุรกี')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace('0','')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace('ณ ห้องบรรยาย 21 ชั้น 2 อาคารศูนย์แพทยศาสตร์ศึกษาช','ไทย')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace('สาธารณรัฐฟินแลน์','สาธารณรัฐฟินแลนด์')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace('สหราช-อาณาจักร (United Kingdom)','สหราชอาณาจักร')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace('ขอนแก่น','ไทย')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace('เขตบริหารพิเศษมาเก๊าแห่งจีน','มาเก๊า')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace('TAIWAN','ไต้หวัน')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace('สาธารณรัฐเยอรมณี','เยอรมณี')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace('สาธารรัฐประชาชนจีน','จีน')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace('ญี่ปุ่่น','ญี่ปุ่น')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace('/ไทย','ไทย')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace('สหภาพเมียมาร์','พม่า')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace('Myanmar','พม่า')

In [ ]:
df['ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ'] = df['ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ'].astype(str) #เปลี่ยนค่าให้เป็นstr

In [ ]:
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace('์ไทย','ไทย')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace('สิงค์โปร์','สิงคโปร์')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace('ราชอาณาจักรสวีเดน','สวีเดน')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace('สาธารณรัฐคาซัคสถาน','คาซัคสถาน')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace('สาธารณรัฐประชาธิปไตยติมอร์','ติมอร์-เลสเต')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace('สาธารณรัฐเกาหลี','เกาหลีใต้')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace('สาธารณรัฐเกาหลีใต้','เกาหลีใต้')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace('สาธารณรัฐประชาธิปไตยชาชนลาว','ลาว')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace('ราชอาณาจักรสวีเดน สาธารณรัฐเอสโตเนียและสาธารณรัฐฟิ','สวีเดน เอสโตเนียและฟิลิปปินส์')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace('สาธารณรัฐประชาชนจีน และ สาธารณรัฐประชาธิปไตยประชาช','จีนและลาว')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace('สาธารณรัฐเกาหลี (เกาหลีใต้) และ ญี่ปุ่น','เกาหลีใต้และญี่ปุ่น')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace('สาธารณรัฐเกาหลีใต้และญี่ปุ่น','เกาหลีใต้และญี่ปุ่น')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace('ไทย+','ไทย')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace( '็ไทย','ไทย')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace( 'Lao','ลาว')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace( 'เยอรมมนี','เยอรมนี')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace( 'สาธารณรัฐประชาธิปไตยประชาชาลาว','ลาว')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace( 'สาธารณรัฐสังคมนิมเวียดนาม','เวียดนาม')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace( 'ไต้หวันศธ0514.26....1.1/467  ลว. 15 .ก.พ.55','ไต้หวัน')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace( 'Italy','อิตาลี')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace( 'Korea','เกาหลีใต้')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace( 'ห้องประุมสมาคมศิษย์เก่า เวลา 12.00-13.00 น','ไทย')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace( 'ราชอาณาจักรกัมพูชาทุน','กัมพูชา')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace( 'มาเลเซีย  และสิงคโปร์','มาเลเซียและสิงคโปร์')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace( 'Turkey','ตุรกี')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace( 'Brunei','บรูไน')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace( 'ศธ 0514.7.3.13/ว2636/54','')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace( 'สาธารณรัฐส้งคโปร์','สิงคโปร์')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace( 'สหพันธรัฐรัสเซีย','รัสเซีย')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace( 'ไืทยในส่วนราชการ','ไทย')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace( 'ออสเตรเลียและเชค','ออสเตรเลียและสาธารณรัฐเช็ก')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace( 'seychelles','สาธารณรัฐเซเชลส์')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace( 'โมร็อกโค','โมร็อกโก')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace( 'เยอรมนี,ฝรั่งเศส,อังกฤษ','เยอรมนี,ฝรั่งเศส,สหราชอาณาจักร')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace( 'ไต้หวัน1','ไต้หวัน')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace( 'ไำทย','ไทย')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace( 'ไทย.','ไทย')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace( 'Switzerland และ  อิตาลี','สวิตเซอร์แลนด์และอิตาลี')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace( 'สาะรณรัฐประชาธิปไตยประชาชนลาว','ลาว')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace( 'เขตบริหารพิเศษฮ่องกงแห่งสาธารณรัฐประชาชนจีน','ฮ่องกง')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace( 'ฮ่องกง สาธารณับประชาชนขจีน','ฮ่องกง')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace( 'เกาหลี','เกาหลีใต้')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace( 'สาธารณรัฐประชาธิปไตยประชาชนลาว','ลาว')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace( 'เบลเยี่ยม','เบลเยียม')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace( 'สวิสเซอร์แลนด์','สวิตเซอร์แลนด์')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace( 'สาธารณรัฐเชค','สาธารณรัฐเช็ก')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace( 'เชคโกสโลวาเกีย','เชโกสโลวาเกีย')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace( 'สาธารณรัฐประชาชนจีน','จีน')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace( 'เมียนมาร์','พม่า')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace( 'สาธารณรัฐออสเตรีย','ออสเตรีย')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace( 'โปร์แลนด์','โปแลนด์')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace( 'เดนมาร์ค','เดนมาร์ก')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace( 'โครเอเซีย','โครเอเชีย')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace( 'สหราชอาณาจักรบริเตนใหญ่และไอร์แลนด์เหนือ','สหราชอาณาจักร')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace( 'โมนาโค','โมนาโก')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace( 'สาธารณรัฐอิตาลี','อิตาลี')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace( 'เยอรมนีนี','เยอรมนี')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace( 'สหพันธ์สาธารณรัฐเยอรมนี','เยอรมนี')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace( 'czech republic','สาธารณรัฐเช็ก')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace( 'อัฟริกาใต้','แอฟริกาใต้')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace( 'สหภาพพม่า','พม่า')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace( 'สาธารณรัฐอิสลามปากีสถาน','ปากีสถาน')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace( 'United Arab Emirates','สหรัฐอาหรับเอมิเรตส์')

In [ ]:


df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace('ประเทศ','')
df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"] = df["ดูข้อมูลใน LoVs - ประเทศที่ลาไปศึกษาฯ"].str.replace('+','')